In [1]:
import pandas as pd
bbdd_tui = pd.read_csv(
    "BBDD_TUI.csv", 
    sep=",", 
    encoding="utf-8-sig",
    engine="python"
)

In [2]:
bbdd_tui.describe()

           PLACE_ID  TOTAL_VALORACIONES_TUI   LATITUD_TUI  LONGITUD_TUI
count  33885.000000            33885.000000  33885.000000  33885.000000
mean   16943.000000              627.528346     40.428134     -3.698326
std     9781.901272             2674.318716      0.029293      0.049288
min        1.000000                0.000000     40.367846     -3.894577
25%     8472.000000                7.000000     40.406132     -3.714310
50%    16943.000000               85.000000     40.427122     -3.696564
75%    25414.000000              455.000000     40.447687     -3.673042
max    33885.000000           202617.000000     40.520957     -3.557500

In [3]:
bbdd_tui.columns

Index(['PLACE_ID', 'NOMBRE_TUI', 'TIPOS_TUI', 'CATEGORIA_TUI', 'DIRECCION',
       'RATING_TUI', 'TOTAL_VALORACIONES_TUI', 'PRECIO', 'ESTADO_NEGOCIO',
       'LATITUD_TUI', 'LONGITUD_TUI', 'URL', 'WEBSITE', 'HORARIO', 'TELEFONO',
       'RESERVA_POSIBLE', 'ACCESIBILIDAD_SILLA_RUEDAS', 'TIPOS_API'],
      dtype='object')

In [4]:
bbdd_tui["RATING_TUI"] = pd.to_numeric(bbdd_tui["RATING_TUI"], errors="coerce")

In [5]:
bbdd_tui.describe()

,PLACE_ID,RATING_TUI,TOTAL_VALORACIONES_TUI,LATITUD_TUI,LONGITUD_TUI
count,33885.000000,19290.000000,33885.000000,33885.000000,33885.000000
mean,16943.000000,3.526895,627.528346,40.428134,-3.698326
std,9781.901272,1.740052,2674.318716,0.029293,0.049288
min,1.000000,0.000000,0.000000,40.367846,-3.894577
25%,8472.000000,3.500000,7.000000,40.406132,-3.714310
50%,16943.000000,4.200000,85.000000,40.427122,-3.696564
75%,25414.000000,4.700000,455.000000,40.447687,-3.673042
max,33885.000000,5.000000,202617.000000,40.520957,-3.557500

In [6]:
bbdd_tui.isnull().sum()

PLACE_ID                          0
NOMBRE_TUI                        0
TIPOS_TUI                         0
CATEGORIA_TUI                     0
DIRECCION                         0
RATING_TUI                    14595
TOTAL_VALORACIONES_TUI            0
PRECIO                            0
ESTADO_NEGOCIO                    0
LATITUD_TUI                       0
LONGITUD_TUI                      0
URL                               0
WEBSITE                       12278
HORARIO                        7716
TELEFONO                       6865
RESERVA_POSIBLE                   0
ACCESIBILIDAD_SILLA_RUEDAS        0
TIPOS_API                     20566
dtype: int64

In [7]:
bbdd_tui.to_csv("BBDD_TUI.csv", index=False, sep=",", encoding="utf-8-sig")